<!-- component -->
<div class="flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen bg-[#465565] ">
   <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200 header">
      <div class="relative flex items-center space-x-4">
         <div class="relative">
            <img
               src="https://thumbs.dreamstime.com/b/chef-robot-robot-designed-cooking-food-preparation-us-chef-robot-robot-designed-cooking-food-preparation-using-321337674.jpg"
               alt="" class="w-10 sm:w-16 h-10 sm:h-16 rounded-full">
         </div>
         <div class="flex flex-col leading-tight">
            <div class="text-2xl mt-1 flex items-center">
               <span class="text-[#d6dbdf] mr-3">MasterChefAI</span>
            </div>
            <span class="text-md text-gray-300">Discover New Flavors, Guided by AI.</span>
         </div>
      </div>
   </div>
   <div
      class="overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-black-solid scrollbar-w-2 scrolling-thumb ">
      <div id="messages" class="flex flex-col-reverse space-y-reverse space-y-4 p-3" *ngFor="let o of data">

         <div class="chat-message gap-5">
            <div class="flex items-start">
               <img
                  src="https://thumbs.dreamstime.com/b/chef-robot-robot-designed-cooking-food-preparation-us-chef-robot-robot-designed-cooking-food-preparation-using-321337674.jpg"
                  alt="My profile" class="w-6 h-6 rounded-full order-2">
                  <div class="flex flex-col space-y-2 text-xs mx-2 order-2 items-start">
                     <div>
                        <span class="px-4 py-2 rounded-lg inline-block rounded-tl-none   bg-[#292929] text-[#bdb8b8] font-light msgtext" style="max-width: 40vw;">
                           <pre class="whitespace-pre-wrap" style="text-align: left;">{{o.bot}}</pre>
                       </span>
                     </div>
                 </div>
            </div>
         </div>

         <div class="chat-message">
            <div class="flex items-start justify-end">


               <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                  <div><span class="px-2.5 py-2 rounded-lg inline-block rounded-tr-none bg-blue-200 text-black p-0.5 msgtext">
                        <pre class="whitespace-pre-wrap" style="text-align: left;">{{o.user}}</pre>
                     </span></div>
               </div>
               <img src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg"
                  alt="My profile" class="w-6 h-6 rounded-full order-1">
            </div>
         </div>

      </div>
   </div>


   <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 mx-20 sm:mb-0 gap-1.5 ">
      <div class="relative flex gap-2.5 mb-20 sm:flex-row">
         <input type="text" placeholder="Write your Query!" required="true"
            class="w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-5 bg-gray-200 rounded-md py-3"
            [(ngModel)]="ques">

         <button type="button"
            class="inline-flex items-center justify-center  rounded-lg px-5 py-2.5 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-green-500 hover:text-black hover:scale-105 focus:outline-none"
            (click)="sendToApi()">
            <span class="font-bold">Send</span>
         </button>

      </div>
   </div>
</div>