/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* body{
    background-image: url("https://img.freepik.com/free-photo/abstract-black-futuristic-background_53876-104058.jpg?t=st=1743308590~exp=1743312190~hmac=7cbff591841c9fe56c31e1bc844cb90535a33ce1b4a0691a7e7a687170874d01&w=1800");
    background-repeat: no-repeat;
    background-size: cover;
}
.cover{
    background-color: rgba(60,60,60,0.6);
}  */